{% extends 'layout.html' %}
{% block body %}
<div class="container">
	<h1>Transactions</h1>
	<div class="row">
		<div class="col-12 col-md-7">
			<div class="card bg-dark border-dark text-white">
				<div class="card-body">
					<h4 class="mb-1">All Transactions</h4>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-5">
			<div class="card bg-dark border-dark text-white">
				<div class="card-body">
					<h4 class="mb-1">Add Transaction</h4>
					<form id="addTransactionForm">
					  <div class="form-group">
				        <label for="nameField">Name</label>
				        <input type="email" class="form-control" id="nameField" placeholder="Transaction Name">
				      </div>
					  <div class="form-row">
					    <div class="form-group col-md-6">
					      <label for="amountField">Amount</label>
					      <input type="number" class="form-control" id="amountField" placeholder="Amount">
					    </div>
					    <div class="form-group col-md-6">
					      <label for="typeField">Type</label>
					      <select class="form-control">
					      	<option>Spent</option>
					      	<option>Income</option>
					      </select>
					    </div>
					  </div>
					  <div class="form-row">
					    <div class="form-group col-md-6">
					      <label for="dayField">Date</label>
					      <input id="dateField" class="form-control">
					      <script>
						    $('#dateField').datepicker({
						        uiLibrary: 'bootstrap4'
						    });
						  </script>
					    </div>
					    <div class="form-group col-md-6">
					    	<div class="form-group">
					          <label for="categoryField">Category</label>
					          <input type="text" class="form-control" id="categoryField" placeholder="Category" list="categories">
					          <datalist id="categories">
								  <option value="subscriptions">
								  <option value="work">
								  <option value="food & drink">
							  </datalist>
					        </div>
					    </div>
					  </div>

					  <button type="submit" class="btn btn-primary">Add Transaction</button>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}